body,
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('../public/icons/portal.jpeg');
  background-size: cover;
  background-color: rgb(50, 50, 61);
  width: 100%;
  height: 100%;

}

.header {
  display: flex;
  position: absolute;
  padding: 2px;
  /* margin-bottom: 10px; */
  flex-direction: row;
  align-items: center;
  opacity: .9;
  width: 100%;
  font-size: 3rem;
  height: 14vh;
  background-color: rgba(24, 24, 47);
  font-weight: bolder;
  color: white;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 15px 20px 6px #191930de;
  justify-content: space-around;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
}

.header p {
  resize: none;
}

.container {
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  /* opacity: 76%; */
  background-color: rgba(50, 50, 61, 0.29);

  box-shadow: inset 0px 0px 20px 20px #00000057;
  backdrop-filter: blur(4px);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  resize: none;

}




.option {
  display: flex;
  background-color: rgb(41 30 52 / 72%);
  width: 37vh;
  height: 48vh;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  font-weight: bolder;
  box-shadow: 0px 0px 20px 7px #000000b3;
  border-radius: 13px;
  border: 4px solid #9f8cad;
  cursor: pointer;
  user-select: none;
  margin: 30px;
  overflow: hidden;
  resize: none;

}

.option:hover {
  transform: scale(1.01);
  /* Increase size on hover, adjust as needed */
  box-shadow: 0px 0px 10px 0px #4366ba;

  /* Change background color on hover, adjust as needed */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateZ(0);

  }

  to {
    opacity: 1;
    transform: translateZ(0);

  }

}

.agents-container {
  animation: fadeIn .8s ease;
  display: flex;
  padding: 19px;
  background-color: rgb(24, 24, 47, 0.69);
  border-radius: 28px;
  box-shadow: 0px 0px 10px 5px #0b0b18;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  grid-gap: 33px;
  scroll-behavior: smooth;
  will-change: opacity;
  transition: opacity .8s ease;
  max-width: max-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: 54vh;
  max-height: 47vh;
  position: absolute;
  bottom: 16vh;
  resize: block;


}



.agent-container {
  animation: fadeIn 1s ease;
  display: flex;
  padding: 11px;
  /* background-color: rgb(24, 24, 47, 0.69); */
  border-radius: 28px;
  background: linear-gradient(to bottom, rgb(255 255 255 / 0%), rgb(0 0 0 / 85%));
  box-shadow: 0px 0px 10px 5px #0b0b18;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  grid-gap: 33px;
  scroll-behavior: smooth;
  will-change: opacity;
  transition: opacity 1s ease;
  min-width: 54vh;
  min-height: 66vh;
  max-width: 200px;
  max-height: 100px;
  position: absolute;
  bottom: 10vh;
  resize: none;

}

.agents {
  flex: 1;
  display: flex;
  grid-gap: 37px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  /* min-width: fit-content; */

}

.agent {
  flex: 1;

  color: white;


  display: flex;
  max-height: 35vh;
  padding: 2px;
  min-height: 35vh;
  width: 23vw;
  border-radius: 9px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  font-size: 30px;
  font-weight: bolder;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  transition: transform 0.1s ease;
  box-shadow: 0px 0px 20px 12px #00000069;
  overflow: hidden;
  max-width: 295px;
  width: 295px;
  min-width: fit-content;

}

.agent:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 9px 3px #7979daa3;
  border: 1px solid;
}

img {
  /* flex: 1; */
  background-repeat: no-repeat;
  width: 87%;
  height: 21vh;
  box-shadow: 0px 0px 20px 4px #070723;
  border-radius: inherit;
  opacity: 75%;

}

.generator {
  display: flex;
  background: linear-gradient(45deg, black, transparent);
  border: none;
  width: 24vh;
  height: 6vh;
  min-width: fit-content;
  min-height: 6vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: large;
  font-style: italic;
  font-family: ui-sans-serif;
  font-size: 22px;
  cursor: pointer;
  user-select: none;
  border-radius: 9px;
  overflow: hidden;
  min-width: fit-content;


}

.generator:hover {
  background: linear-gradient(45deg, #574295, transparent);
  transform: scale(1.05);
}

.close {
  width: 9vh;
  height: 5vh;
  background: linear-gradient(45deg, rgb(5, 1, 20), transparent);
  color: white;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  border-radius: 20px;
  align-self: flex-end;
  margin-right: 20px;
  /* margin-top: 11px; */
  min-width: fit-content;

}

.close:hover {
  background: linear-gradient(45deg, #574295, transparent);
  transform: scale(1.02);
}


.agentmax {
  flex: 1;
  display: flex;
  max-height: 35vh;
  padding: 2px;
  min-height: 35vh;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  user-select: none;
  font-size: 30px;
  font-weight: bolder;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  transition: transform 0.1s ease;
  overflow: hidden;
  max-width: 19vw;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: 47vh;
  min-width: 48vh;
}

.image {
  min-height: 40vh;
  box-shadow: 0px 0px 6px 0px rgb(0 0 0);
  border-radius: 17px;
  min-width: 334px;
  width: 384px;
}